.container
  = render partial: "layouts/header"
  .items_container
    %h2.section_title 新着アイテム
    %h3.category_name カテゴリー
    = render partial: "layouts/items_list"
  = render partial: "layouts/footer"
