a {
  color           : $default_font_color;
  text-decoration : none;
}

.items_container{
  width           : 100%;
  padding         : 40px 0px;
  padding-bottom  : 40px;
}

.section_title{
  font-size       : 28px;
  font-weight     : bold;
}

.category_name{
  padding-top     : 20px;
  font-size       : 22px;
  font-weight     : bold;
  margin-bottom   : 40px;
}

.item_content{
  width           : 75%;
  margin          : 0px auto;
}
.item_box{
  float           : left;
  background-color: white;
  width           : 220px;
  height          : 330px;
  margin-right    : 2%;
  margin-top      : 10px;
  margin-bottom   : 10px;
  &__image{
    width         : 220px;
    height        : 220px;
  }
  &__body{
    text-align    : left;
    padding       :10px;
    &__name_box{
      height      : 48px;
      &:after{
        display    : block;
        content    : "";
        bottom     : 0;
        right      : 0;
        width      : 50%;
        height     : 1.5em;
        background : linear-gradient(to right, rgba(255,255,255,0), #fff 72%);
      }
      &__name{
        font-size   : 16px;
        font-weight : 700;
      }
    }
    &__price{
      font-size   : 20px;
      font-weight : 600;
    }
    &__tax{
      font-size   : 10px;
    }
  }
}
