.item_content.clearfix
  .item_box
    = image_tag "logos/copicari_logo_small", class: "item_box__image"
    .item_box__body
      %p.item_box__body__name コピカリ!!!
      %p.item_box__body__price ¥3,000
      %p.item_box__body__tax (税 ¥0)
  .item_box
    = image_tag "logos/copicari_logo_small", class: "item_box__image"
    .item_box__body
      %p.item_box__body__name コピカリ!!!
      %p.item_box__body__price ¥3,000
      %p.item_box__body__tax (税 ¥0)
  .item_box
    = image_tag "logos/copicari_logo_small", class: "item_box__image"
    .item_box__body
      %p.item_box__body__name コピカリ!!!
      %p.item_box__body__price ¥3,000
      %p.item_box__body__tax (税 ¥0)
  .item_box
    = image_tag "logos/copicari_logo_small", class: "item_box__image"
    .item_box__body
      %p.item_box__body__name コピカリ!!!
      %p.item_box__body__price ¥3,000
      %p.item_box__body__tax (税 ¥0)
